/* Style général du conteneur du chatbot */
.chatbot-container {
    width: 100%;
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0px;
}

/* En-tête du chatbot */
.chatbot-header {
    background-color: #3079fb;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    flex-shrink: 0;
}

/* Zone des messages */
.chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* Messages */
.message {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

/* Message de l'utilisateur */
.message.user {
    background-color: #3079fb;
    color: #fff;
    align-self: flex-end;
}

/* Message du bot */
.message.bot {
    background-color: #e0e0e0;
    color: #000;
    align-self: flex-start;
    min-width: 70%;
}

/* Zone d'entrée du texte et du bouton d'envoi */
.chatbot-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

/* Textarea pour la saisie de texte */
.chatbot-textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-right: 10px; /* Ajout d'un espace entre le textarea et le bouton */
    font-size: 1em;
}

/* Bouton d'envoi */
.send-message-button {
    background-color: #3079fb;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-message-button:hover {
    background-color: #0056b3;
}

/* Responsive Design pour mobile */
@media (max-width: 600px) {
    .chatbot-container {
        max-width: 100%;
        padding: 2px;
        width: 100%;
        justify-content: center;
    }

    .chatbot-header {
        font-size: 1em;
    }

    .chatbot-input {
        flex-direction: column;
    }

    .chatbot-textarea {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
